.with-chat {
  width: 100% !important;
}

body #chat-wrapper {
  width: 100vw !important;
  height: 260px !important;
  top: initial !important;
  background: none !important;
  box-shadow: none !important;
}

#chat-wrapper #chat-container {
  width: 100% !important;
  padding: 0 32px !important;
}

#chat-history-container {
  height: 170px !important;
}

#function-title {
  visibility: hidden !important;
}

#teleparty-blog-container {
  display: none !important;
}

.icon-name {
  display: none !important;
}

#chat-input-container input {
  border: none !important;
  border-top: none !important;
}

#presence-indicator {
  display: none !important;
}

#function-user {
  position: absolute !important;
  bottom: 40px !important;
  right: 40px !important;
}

.msg-container {
  width: 460px !important;
}

.PlayerControlsNeo__bottom-controls {
  top: 12px !important;
  width: calc(100% - 120px) !important;
  right: 0 !important;
  left: initial !important;
}
