div .tp-video.with-chat {
  width: 0 !important;
}

.tp-video.with-chat #chat-wrapper {
  width: 380px !important;
  max-width: 100% !important;
  height: 312px !important;
  bottom: 0 !important;
  top: auto !important;
  left: 0 !important;
  background: none !important;
}

.tp-video.with-chat #chat-wrapper #chat-container {
  width: 100% !important;
  margin: 0 24px !important;
}

.tp-video.with-chat #chat-wrapper #chat-container #chat-header-container {
  margin: 16px 0 !important;
}

#chat-container #chat-header-container #function-title,
#chat-container #chat-header-container #user-icon,
#chat-container .msg-container .icon-name {
  display: none !important;
}

#chat-container #chat-input-container {
  border-top: none !important;
}

#chat-wrapper #presence-indicator {
  height: 12px !important;
}

.tp-video.with-chat .watch-video--bottom-controls-container {
  position: absolute;
  width: calc(100% - 380px) !important;
  right: 0 !important;
  left: initial !important;
}

.tp-video.with-chat #chat-container::-webkit-scrollbar {
  width: 0 !important;
}

.tp-video.with-chat #chat-wrapper img.chat-link {
  opacity: 0;
}
.tp-video.with-chat #chat-wrapper:hover img.chat-link {
  opacity: 1;
}
